<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	
	<bean id="tv" class="com.yydh.www.di2.SamsungTV">
		<property name="price" value="1111"></property>
		<!-- => setPrice setter를 찾는다 -->
	</bean>
	
	<!-- 상위를 써주면 모든 에노테이션을 찾는다 -->
	<context:component-scan base-package="com.yydh.www"></context:component-scan>
	
</beans>
